body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-lista {
    display: flex;
    list-style: none;
    justify-content: end;
    padding-right: 200px;
    padding-top: 50px;
}

.menu-item {
    padding: 2em;
    text-decoration: none;
    font-size: 18px;
    color: black;

}

.texto-logo {
    position: absolute;
    padding-left: 200px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}

.foto-principal {
    position: absolute;
    padding-left: 1200px;
    padding-top: 50px;
}

.textos {
    position: absolute;
    padding-left: 200px;
    padding-top: 50px;
}

.texto-um {
    font-size: 60px;
    font-weight: bold;
}

.botao-teste {
    padding-left: 200px;
    padding-top: 400px;

}

.botao {
    background-color: #8EADD5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 167px;
}

.texto-section-dois {
    text-align: center;
    padding-top: 250px;
}

.section-dois {
    display: flex;
    justify-content: center;
    
}

.icones {
    padding: 1em;
    background-color: #F6F6F6;
    width: 200px;
    text-align: center;
}

.fundo {
    position: absolute;
    top: 0%;
    left: 0;
}

.icone-menu {
    display: none;
}

.section-tres {
    padding-top: 150px;
    padding-left: 400px;
}

.texto-tres {
    margin-top: -350px;
    padding-left: 1000px;
}

.titulo-tres {
    font-size: 48px;
}

.legenda-tres {
    font-size: 16px;
}

.seta {
    padding-top: 50px;
}

.seta-dois {
    display: none;
}

.titulo-quarto {
    font-size: 48px;
}

.section-quatro {
    padding-top: 150px;
    padding-left: 400px;
}

.foto-quatro {
    margin-top: -350px;
    padding-left: 1000px;
}

.section-cinco {
    text-align: center;
    padding-top: 100px;
}

.legenda-cinco {
    font-size: 48px;
}

.bio {
    font-size: 12px;
    color: gray;
}

.card-cinco {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cartao-cinco {
    padding: 1em;
}

.cartao-itens {
    background-color: #F6F6F6;
    padding: 2em;
    border-radius: 15px;
}

.section-seis {
    padding-top: 100px;
    padding-left: 200px;
}

.titulo-seis {
    font-size: 48px;
}

.texto-seis {
    padding-left: 600px;
    margin-top: -400px;
}

.legenda-seis {
    color: gray;
    line-height: 1.5em;
}

.card-seis {
    padding-left: 200px;
    background-color: #F6F6F6;
    height: 450px;
    border-radius: 15px;
    width: 1300px;

}

.botao-seis {
    padding: 15px;
    color: white;
    background-color: #8EADD5;
    border: none;
    border-radius: 10px;
}

@media screen and  (max-device-width: 700px) {

    .icone-menu {
        display: flex;
        justify-content: end;
    }
    
    .botao-menu {
        border: none;
        background: none;
        color: black;
    }

    .texto-logo {
        padding-left: 0;
        margin-top: 0;
        font-size: 20px;
        font-weight: bold;
        text-align: start;
        position: absolute;
        padding-top: 0;
    }

    .fundo {
        display: none;
    }

    .logo {
        
    }

    .menu-lista {
        display: none;
    }

    .menu-item {
        display: inline-block;
    }

    .menu-lista {
        display: none;
        list-style: none;
        padding-right: 0;
        padding-top: 0;
        text-align: center;
    }

    .menu-item {
        display: inline-block;
        text-decoration: none;
        font-size: 18px;
        color: black;
    
    }

    .section-principal {
        display: flex;
        justify-content: center;
    }

    .foto-principal {
        padding-left: 0;
        padding-top: 400px;
        width: 300px;
        align-items: center;
    }

    .textos {
        position: absolute;
        padding-left: 0;
        padding-top: 0;
        padding-top: 20px;
    }

    .texto-um {
        font-size: 40px;
        text-align: center;
        width: 100%;
    }

    p {
        text-align: center;
    }

    .botao {
        align-items: center;
        text-align: center;
        background-color: #8EADD5;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 150px;
    }

    .botao-teste {
        padding-top: 300px;
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .imagens {
        width: 50px;
    }

    .texto-section-dois {
        padding-top: 450px;
    }

    .section-tres {
        padding-top: 450px;
        padding-left: 0;
    }

    .texto-tres {
        margin-top: -850px;
        padding-left: 0;
        position: absolute;
        text-align: center;
    }

    .seta {
        display: none;
    }

    .seta-dois {
        display: block;
    }

    .seta-icon {
        display: flex;
        justify-content: center;
    }

    .section-quatro {
        padding-top: 150px;
        padding-left: 0;
        text-align: center;
    }
    
    .foto-quatro {
        margin-top: 20px;
        padding-left: 0;
    }
    
    .card-cinco {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .foto-seis {
        display: none;
    }

    .section-seis {
        padding-top: 50px;
        padding-left: 0;
    }
    
    .titulo-seis {
        font-size: 38px;
        padding-top: 40px;
    }
    
    .texto-seis {
        padding-left: 0;
        margin-top: 50px;
        text-align: center;
    }
    
    .legenda-seis {
        color: gray;
        line-height: 1.5em;
    }
    
    .card-seis {
        padding-left: 0;
        background-color: #F6F6F6;
        height: 300px;
        border-radius: 15px;
        width: 100%;
    
    }
    

    
}
