body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-lista {
    display: flex;
    list-style: none;
    justify-content: end;
    padding-right: 200px;
    padding-top: 50px;
}

.menu-item {
    padding: 2em;
    text-decoration: none;
    font-size: 18px;
    color: black;

}

.texto-logo {
    position: absolute;
    padding-left: 200px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}

.foto-principal {
    position: absolute;
    padding-left: 1200px;
    padding-top: 50px;
}

.textos {
    position: absolute;
    padding-left: 200px;
    padding-top: 50px;
}

.texto-um {
    font-size: 60px;
    font-weight: bold;
}

.botao-teste {
    padding-left: 200px;
    padding-top: 400px;

}

.botao {
    background-color: #8EADD5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 167px;
}

.texto-section-dois {
    text-align: center;
    padding-top: 250px;
}

.section-dois {
    display: flex;
    justify-content: center;
    
}

.icones {
    padding: 1em;
    background-color: #F6F6F6;
    width: 200px;
    text-align: center;
}

.fundo {
    position: absolute;
    top: 0%;
    left: 0;
}

.icone-menu {
    display: none;
}

@media screen and  (max-device-width: 700px) {

    .icone-menu {
        display: flex;
        justify-content: end;
    }
    
    .texto-logo {
        padding-left: 0;
        margin-top: 0;
        font-size: 20px;
        font-weight: bold;
        text-align: start;
        position: absolute;
        padding-top: 0;
    }

    .fundo {
        display: none;
    }

    .logo {
        
    }

    .menu-lista {
        display: none;
    }

    .menu-item {
        display: inline-block;
    }

    .menu-lista {
        display: none;
        list-style: none;
        padding-right: 0;
        padding-top: 0;
        text-align: center;
    }

    .menu-item {
        display: inline-block;
        text-decoration: none;
        font-size: 18px;
        color: black;
    
    }

    .section-principal {
        display: flex;
        justify-content: center;
    }

    .foto-principal {
        padding-left: 0;
        padding-top: 250px;
        width: 300px;
        align-items: center;
    }

    .textos {
        position: absolute;
        padding-left: 0;
        padding-top: 0;
        padding-top: 20px;
    }

    .texto-um {
        font-size: 40px;
        text-align: center;
        width: 100%;
    }

    p {
        text-align: center;
    }

    .botao {
        align-items: center;
        text-align: center;
        background-color: #8EADD5;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 150px;
    }

    .botao-teste {
        padding-top: 180px;
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .imagens {
        width: 50px;
    }

    .texto-section-dois {
        padding-top: 400px;
    }
    
}
